OPENAI_API_KEY=""
OPENAI_BASE_URL="https://ai.ruijie.com.cn/v1"
AZURE_API_KEY=""
AZURE_API_BASE="https://my-endpoint.openai.azure.com/"
AZURE_API_VERSION="2025-01-01-preview"
AZURE_FINETUNE_API_VERSION="2023-03-15-preview"
AZURE_FILES_API_VERSION="2023-03-15-preview"
ANTHROPIC_API_KEY=""
COHERE_API_KEY=""
LANGFUSE_PROJECT1_PUBLIC=""
LANGFUSE_PROJECT1_SECRET=""
LANGFUSE_PROJECT2_PUBLIC=""
LANGFUSE_PROJECT2_SECRET=""
LANGFUSE_HOST="https://us.cloud.langfuse.com"
FEISHU_WEBHOOK_URL=""
FEISHU_DAILY_REPORT_FREQUENCY="60"

LITELLM_MASTER_KEY="sk-1234"
DATABASE_URL=""
DATABASE_URL_DOCKER=""
STORE_MODEL_IN_DB="True"